.mvn
mvnw*


HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/



app/android/app/.gradle
app/android/app//build/
app/android/app/*.iml
app/android/app/local.properties
app/android/app/.idea/caches
app/android/app/.idea/libraries
app/android/app/.idea/modules.xml
app/android/app/.idea/workspace.xml
app/android/app/.idea/navEditor.xml
app/android/app/.idea/assetWizardSettings.xml
app/android/app/.DS_Store
app/android/app/build
app/android/app/captures
app/android/app/.externalNativeBuild
app/android/app/.cxx

app/android/app/app/proguard-rules.pro

app/android/app/gradlew

app/android/app/gradlew.bat

# Ignore Gradle GUI config
app/android/app/gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
app/android/app/!gradle-wrapper.jar

# Cache of project
app/android/app/.gradletasknamecache

app/ios/ARStolpersteine/*.xcuserstate
*.xccheckout
*.xcworkspace
xcuserdata/

# Build products
build/
DerivedData/

# Dependencies (CocoaPods, Carthage, etc.)
Pods/
Carthage/

# Private data (keys, credentials)
*.xcconfig
*.plist

# Miscellaneous
*.log
*.swp
*.lock
*.xcuserdatad/
*.idea/