<div class="row">
  <div class="col-9">
    <google-map
      height="800px"
      width="100%"
      [zoom]="zoom"
      [center]="center"
      [options]="options">
      <map-marker
        *ngFor="let marker of markers"
        [position]="marker.position"
        (mapClick)="onSelectMarker(marker.id)"
        (click)="onSelectMarker(marker.id)">
      </map-marker>
    </google-map>
  </div>
  <div class="col-3">
    <div class="row">
      <mat-card *ngIf="selectedStolperstein">
        <mat-card-header class="fw-bold">Stolperstein-Nr: {{ selectedStolperstein.id }}</mat-card-header>
        <mat-card-content>
          <div class="row"
               *ngIf="selectedStolperstein.address && selectedStolperstein.address?.streetName && selectedStolperstein.address?.postCode ">
            <div class="col-4 fw-bold">Adresse:</div>
            <div class="col-6">
              <span>{{ selectedStolperstein.address.streetName }} {{ selectedStolperstein.address.houseNumber }}
                , {{ selectedStolperstein.address.postCode }} {{ selectedStolperstein.address.city }}</span>
            </div>
          </div>
          <div class="row" *ngIf="selectedStolperstein.position">
            <div class="col-4 fw-bold">Position:</div>
            <div class="col-6">
              <span>{{ selectedStolperstein.position.lat }} | {{ selectedStolperstein.position.lng }}</span>
            </div>
          </div>
          <div *ngIf="selectedStolperstein.victim">
            <div class="row">
              <div class="col-4 fw-bold">Betroffener:</div>
              <div class="col-6">
                <span>{{ selectedStolperstein.victim.firstname }} {{ selectedStolperstein.victim.lastname }}</span>
              </div>
            </div>
            <div class="row" *ngIf="selectedStolperstein.victim.dateOfBirth || selectedStolperstein.victim.dateOfDeath">
              <div class="col-4 fw-bold">Lebenszeitraum</div>
              <div
                class="col-6">{{ selectedStolperstein.victim.dateOfBirth | date: 'dd.MM.yyyy'}} {{ selectedStolperstein.victim.dateOfDeath ? '| ' + selectedStolperstein.victim.dateOfDeath : '' | date: 'dd.MM.yyyy'}}
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="row mt-2 justify-content-end me-2 " *ngIf="selectedStolperstein">
      <div class="col-3">
        <button mat-raised-button color="accent" (click)="onRedirectToManage()">Verwalten</button>
      </div>
    </div>
  </div>
</div>
