<div>
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="requestID">
      <th mat-header-cell *matHeaderCellDef>Request-ID</th>
      <td mat-cell *matCellDef="let element"> {{element.requestID}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Straße, Ort</th>
      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef>Antragssteller</th>
      <td mat-cell *matCellDef="let element"> {{element.requester}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon aria-hidden="false" aria-label="Edit Icon" fontIcon="edit_note" (click)="onClickEdit()"></mat-icon>
        <mat-icon aria-hidden="false" aria-label="Delete Icon" fontIcon="delete"></mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
